@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #ffccbc;
    background-color: #fff;
}

.contenedor {
    text-align: center;
}

.vertical-line {
    border-right: 3px solid black;
    font-size: 40px;
    line-height: 1em;
}

.text {
    border-radius: 4px;
    background-color: #424242;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    line-height: 1em;
    margin-right: 3em;
    font-family: 'Roboto';
}

.badge {
    padding: 3px;
    border-radius: 50%;
    background-color: #FFF;
    color: #424242;
    line-height: 1em;
    font-size: 30px;
    margin-left: 10px;
}

.select-animar {
    font-size: 20px;
    border-radius: 20px;
    background-color: inherit;
    color: #424242;
    border: 1px solid #424242;
}

.btn {
    padding: 3px;
    background-color: dodgerblue;
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

.estilo-animacion {
    display: inline-block;
    margin: 20px;
}

.estilo-animacion > label {
    display: block;
}

.pre {
    display: inline-block;
    background-color: #424242;
    color: #fff;
}

.code {
    display: block;
    background-color: #424242;
    color: #fff;
    padding: 1em 1.5em;
    font-family: monospace;
    margin: 0 auto 0.5em;
    width: 80%;
}

.code > pre {
    text-align: left;
    overflow: auto;
}